:root{

    --fs-9: 9px;
    --fs-12: 12px;
    --fs-13: 13px;
    --fs-xsm: 10.88px;
    --fs-sm: 14px;
    --fs-md: 15px;
    --fs-lg: 16px;
    --fs-xl: 17px;
    --fs-2xl: 18px;
    --fs-3xl: 25px;
    --fs-4xl: 35px;
    --fs-5xl: 40px;

--bg-black:#020D15;
--slider-active:#02274F;
--bg-black2:#000000;
--color-black2:#FBFDFF33;
    --color-white:#FBFDFF;
    --color-white1:#FFFFFF;
    --color-white2:#FFFFFF1A;
    --input-bg:#FBFDFF12;
    --color-blue:#0389FF;
    --footer-bg:#0389FF14;
    --color-blue3:#0389FF1F;
}
.fs_9{
    font-size: var(--fs-9);
}
.fs_12{
    font-size: var(--fs-12);
}
.fs_13{
    font-size: var(--fs-13);
}
.fs_xsm{
    font-size: var(--fs-xsm);
}
.fs_sm{
    font-size: var(--fs-sm);
}
.fs_md{
    font-size: var(--fs-md);
}
.fs_lg{
    font-size: var(--fs-lg);
}
.fs_xl{
    font-size: var(--fs-xl);
}
.fs_2xl{
    font-size: var(--fs-2xl);
}
.fs_3xl{
    font-size: var(--fs-3xl);
}
.fs_4xl{
    font-size: var(--fs-4xl);
}
.fs_5xl{
    font-size: var(--fs-5xl);
}


.color_white{
    color: var(--color-white);
}
.color_blue{
    color: var(--color-blue);
}
.bg_black{
    background: var(--bg-black);
}
.footer_bg{
    background: var(--footer-bg);
}
.bg_blue{
    background: var(--color-blue) !important;
    
}


.lh_18{
    line-height: 18.9px;
}
.lh_13{
    line-height: 13.5px;
}

.lh_15{
    line-height: 15.24px;
}
.lh_20{
    line-height: 20px;
}
.lh_22{
    line-height: 22.68px;
}
.lh_25{
    line-height: 25.2px;
}
.lh_27{
    line-height: 27.2px;
}
.lh_30{
    line-height: 30px;
}
.lh_38{
    line-height: 38.72px;
}
.lh_44{
    line-height: 44.8px;
}
.lh_55{
    line-height: 55.44px;
}
.lh_60{
    line-height: 60.48px;
}



.letter_20{
    letter-spacing: 20%;
}
.fw_300{
    font-weight: 300;
}
.fw_400{
    font-weight: 400;
}
.fw_500{
    font-weight: 500;
}
.fw_600{
    font-weight: 600;
}
.fw_700{
    font-weight: 700;
}
@media (min-width:576px) {
  :root{
    --fs-9:9px;
    --fs-12:12px;
    --fs-13:13px;
    --fs-xsm:10.88px;
    --fs-sm:14px;
    --fs-md:15px;
    --fs-lg:16px;
    --fs-xl:18px;
    --fs-2xl:20px;
    --fs-3xl:32px;
    --fs-4xl:44px;
    --fs-5xl:48px;
  }
}